@import "./color.less";

.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
  margin-bottom: 0px !important;
}

.el-menu-item .el-icon {
  font-size: 16px !important;
}

.el-popover.el-popper {
  min-width: 0px !important;
}

.el-form-item__label {
  padding: 0 !important;
}


// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}
